@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
* {
    font-family: 'Poppins', cursive;
}
body {
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings {
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span {
    animation: glow 2s ease-in-out infinite;
}
@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    50% {
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(1) {
    animation-delay: 0s;
}
.greetings > span:nth-child(2) {
    animation-delay: 0.2s;
}
.greetings > span:nth-child(3) {
    animation-delay: 0.4s;
}
.greetings > span:nth-child(4) {
    animation-delay: 0.6s;
}
.greetings > span:nth-child(5) {
    animation-delay: 0.8s;
}
.greetings > span:nth-child(6) {
    animation-delay: 1s;
}
.greetings > span:nth-child(7) {
    animation-delay: 1.2s;
}
.greetings > span:nth-child(8) {
    animation-delay: 1.4s;
}
.greetings > span:nth-child(9) {
    animation-delay: 1.6s;
}
.greetings > span:nth-child(10) {
    animation-delay: 1.8s;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 20px;
}


.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.button {
    display: inline-block;
    padding: 15px 30px; /* Ukuran tombol yang lebih besar */
    font-size: 1em; /* Menambahkan ukuran font */
    color: #fff;
    background: linear-gradient(45deg, #afb6f9, #00aaff); /* Gradient background */
    border-radius: 30px; /* Radius lebih besar untuk sudut yang lebih halus */
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Bayangan pada tombol */
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transisi pada hover */
    
}

.button:hover {
    background: linear-gradient(45deg, #00aaff, #afb6f9); /* Gradient background berubah arah */
    transform: scale(1.1); /* Efek skala lebih besar pada hover */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Bayangan lebih besar pada hover */
    box-shadow: 0 0 50px rgba(57, 198, 214, 0.8); /* Efek glow tanpa border putih */
    
}




@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}
